@model ClinicaWebApp.Models.Pago.PagoO

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_LayoutRecepcionista.cshtml";
}

<h1>Ingresar Pago</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Crear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="IdPago" class="control-label"></label>
                <input asp-for="IdPago" class="form-control" />
                <span asp-validation-for="IdPago" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="HoraPago" class="control-label"></label>
                <input asp-for="HoraPago" class="form-control" />
                <span asp-validation-for="HoraPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoPago" class="control-label"></label>
                <input asp-for="MontoPago" class="form-control" />
                <span asp-validation-for="MontoPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoPago" class="control-label"></label>
                @* <input asp-for="TipoPago" class="form-control" /> *@
                @Html.DropDownListFor(model => model.TipoPago,
                         (SelectList)ViewBag.tipoPagos, "(Seleccione el Paciente)",
                         new { @class = "form-select custom-select", @id = "selPag" })
                <span asp-validation-for="TipoPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPaciente" class="control-label"></label>
                @* <input asp-for="IdPaciente" class="form-control" /> *@
                @Html.DropDownListFor(model => model.IdPaciente,
                         (SelectList)ViewBag.pacientes, "(Seleccione el Paciente)",
                         new { @class = "form-select custom-select", @id = "selPac" })
                <span asp-validation-for="IdPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

